@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  border-bottom: 1px solid #f1f1f1;
}

.nav-logo-name {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  font-size: 1.5rem;
}

@media (max-width:360px) {
  .nav-logo-name span {
    display: none;
  }
}

#mobile-menu>div {
  border-bottom: 1px solid #e3e3e3;
}

[role="status"]:has(.loader-md) {
  margin: 1rem auto;
  width: 100%;
}

/* Home */
.banner {
  background: rgba(0, 0, 0, .35);
  padding: 1rem;
  border-radius: 0.375rem;
}

@media (max-width:767px) {
  .details {
    flex-direction: column;
  }

  .details div:not(.tags) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

/* Login */
.form-user {
  max-width: 768px;
  margin: auto;
}

.fill-white {
  fill: white;
}

/* Chat */
.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .375rem;
  padding: 1rem;
  margin-bottom: 1rem;
  max-height: 48vh;
  overflow: hidden;
  overflow-y: scroll;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/chat-pattern.avif") repeat center center;
  height: 48vh;
}

.chat-container::-webkit-scrollbar {
  width: 12px;
}

.chat-container::-webkit-scrollbar-track {
  border-radius: .375rem;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.chat-container::-webkit-scrollbar-thumb {
  border-radius: .375rem;
  background-color: rgb(127, 129, 133);
}

.chat-container .message-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container .date {
  background: rgb(127, 129, 133);
  color: white;
  border-radius: 0.375rem;
  margin: 1rem auto;
  padding: .5rem;
}

.chat-container .message-container .message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: .375rem;
  margin-bottom: 1rem;
  max-width: 48%;
}

@media (max-width:639px) {
  .chat-container .message-container .message {
    max-width: 100%;
  }

  .chat-container~form {
    flex-direction: column;
  }

  .chat-container~form button {
    width: 100%;
  }
}

.chat-container~form textarea::placeholder {
  font-size: 1.125rem;
}

.bi-send-fill {
  transform: rotate(45deg);
  width: 1.5rem;
  height: 1.5rem;
}

.chat-container~form textarea {
  overflow-x: hidden;
}

.chat-container~form textarea::-webkit-scrollbar {
  width: 1rem;
}

.chat-container~form textarea::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.chat-container~form textarea::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgb(127, 129, 133);
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.services article {
  border-radius: .25rem;
  position: relative;
}

.services article h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.services article p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.services .date {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}

.services .price {
  display: block;
  margin-top: .375rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.services img {
  margin-bottom: 1rem;
  border-radius: .25rem;
  height: 260px;
  object-fit: contain;
}

@media (max-width:1200px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:992px) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

/* Admin */
.services-actions {
  display: flex;
  gap: 1rem;
}

.services-actions .edit {
  color: white;
  padding: .5rem;
  border-radius: .375rem;
  margin: .25rem 0;
}

.services-actions .delete {
  color: white;
  padding: .5rem;
  border-radius: .375rem;
  margin: .25rem 0;
}

/* Footer */
@media (max-width: 340px) {
  footer ul {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 200px) {
  footer .footer-educode {
    flex-direction: column;
  }
}

/* Modal */
.modal-background {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 2rem;
  border-radius: 0.375rem;
  background: white;
}

.modal-success svg {
  fill: rgb(21, 128, 61);
}

.modal-success .btn-confirmation {
  background-color: rgb(21, 128, 61);
}

.modal-warning svg {
  fill: rgb(161, 98, 7)
}

.modal-warning .btn-confirmation {
  background-color: rgb(161, 98, 7)
}

.modal-error svg {
  fill: rgb(185, 28, 28);
}

.modal-error .btn-confirmation {
  background-color: rgb(185, 28, 28);
}

.modal div:first-of-type {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
}

.modal div:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  margin-top: 1rem;
}

.modal div:last-of-type button {
  padding: .5rem;
  color: white;
  border-radius: .375rem;
}

.modal svg {
  margin: auto;
}

.modal svg {
  width: 2.5rem;
  height: 2.5rem;
}

/* Profile */
.profile img {
  object-fit: cover;
}

.profile .badge-admin {
  background: #ff4318;
  color: white;
}

.profile .badge-user {
  background: #0068ad;
  color: white;
}

.btn-change-image {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  padding: .375rem;
  background-color: #1d272b;
}

.btn-change-image svg {
  color: white;
  fill: white;
}

.user-table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.hired-services-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-edition {
  padding: 2rem;
}

.hired-services-container img {
  width: 4rem;
}

.btn-change-image {
  margin: .25rem;
}

@media (max-width: 540px) {
  .profile-image {
    width: 100%;
    height: 100%;
  }

  .btn-change-image {
    margin: .5rem;
  }

  .profile-loader-btn,
  .profile-loader-image {
    width: 100%;
  }
}

/* Notifications */
.notification svg {
  cursor: pointer;
}